services:
  shard0:
    build: .
    container_name: shard0
    environment:
      - PORT=8080
      - SHARD_ID=0
    volumes:
      - ./internal/data/shard-0:/data
    ports:
      - "9001:8080"
    networks:
      - turbo-net

  shard1:
    build: .
    container_name: shard1
    environment:
      - PORT=8080
      - SHARD_ID=1
    volumes:
      - ./internal/data/shard-1:/data
    ports:
      - "9002:8080"
    networks:
      - turbo-net

  shard2:
    build: .
    container_name: shard2
    environment:
      - PORT=8080
      - SHARD_ID=2
    volumes:
      - ./internal/data/shard-2:/data
    ports:
      - "9003:8080"
    networks:
      - turbo-net

  shard3:
    build: .
    container_name: shard3
    environment:
      - PORT=8080
      - SHARD_ID=3
    volumes:
      - ./internal/data/shard-3:/data
    ports:
      - "9004:8080"
    networks:
      - turbo-net

  ollama:
    image: ollama/ollama:latest  
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama
    networks:
      - turbo-net

networks:
  turbo-net:

volumes:
  ollama-data: